
/data/ISIC2018_Task1-2_Test_Input
/data/ISIC2018_Task1-2_Test_Input_No_Hair
/data/ISIC2018_Task1-2_Training_Input
/data/ISIC2018_Task1-2_Training_Input_No_Hair
/data/ISIC2018_Task1-2_Validation_Input
/data/ISIC2018_Task1-2_Validation_Input_No_Hair
/data/ISIC2018_Task1_Test_GroundTruth
/data/ISIC2018_Task1_Training_GroundTruth
/data/ISIC2018_Task1_Validation_GroundTruth
/data/ISIC2018_Task3_Test_Images
/data/ISIC2018_Task3_Test_Images_No_Hair
/old
/__pycache__
scripts/unet_plus_plus.py
scripts/unet.py
scripts/deep_lab_v3_plus.py
models/deep_lab/best_segmentation_model_deep_lab_1.pth
models/deep_lab/best_segmentation_model_deep_lab_2.pth
models/deep_lab/best_segmentation_model_deep_lab_3.pth
models/deep_lab/best_segmentation_model_deep_lab_4.pth
models/deep_lab/best_segmentation_model_deep_lab_5.pth
models/unet/best_segmentation_model_unet_1.pth
models/unet/best_segmentation_model_unet_2.pth
models/unet/best_segmentation_model_unet_3.pth
models/unet/best_segmentation_model_unet_4.pth
models/unet/best_segmentation_model_unet_5.pth
models/unet_plus_plus/best_segmentation_model_unet_plus_plus_1.pth
models/unet_plus_plus/best_segmentation_model_unet_plus_plus_2.pth
models/unet_plus_plus/best_segmentation_model_unet_plus_plus_3.pth
models/unet_plus_plus/best_segmentation_model_unet_plus_plus_4.pth
models/unet_plus_plus/best_segmentation_model_unet_plus_plus_5.pth
models/unetbest_segmentation_model_unet_1.pth
/scripts/__pycache__
/models
